@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;700;900&display=swap');

body {
    background: #131313;
    margin: 0%;
    padding: 0;
}
.header {
    text-align: center;

}
.header__menu {
    margin: 0 auto;
}

.menu {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}
#first {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #1ACD4C;
}
#second {
    border-left: 1px solid #272727;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 12px;
    margin-left: 12px;
    color: #FFFFFF;
    opacity: 90%;
}
#third {
    color: #272727;
}
.list {
    margin-left: 40px;
}
hr {
    opacity: 30%;
}
.container {
    height: 162px;
    margin: 0 auto;
    width: 1146px;
    background:url('../img/header-bg.png');
    background-size: cover;
    margin-bottom: 25px;
}
h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: left;
    padding-top: 90px;
}
table {
    margin: 0 auto;
    box-sizing: border-box;
    width: 1144px;
    text-align: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));   
    border: 1px solid #272727;;
    border-collapse: collapse;
}
.head {
    border: none;

}
.head th {
    text-align: left;
    padding-left: 25px;
    width: 260px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #727272;
}

tr {
    height: 53px;
}
td{
    border-bottom: 1px solid #272727;
    padding-left: 25px;
    width: 260px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 35px;
}
.pagination__list {
    display: flex;
    list-style: none;
    margin: 0 50px;
    padding: 0;
    justify-content: center;

}
.pagination__item {
    margin: 0 12px;
}
.pagination__link {
    width: 44px;
    line-height: 35px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 12px;
}
.pagination__link--active {
    color: #272727;
}

